
/*
grant {
   permission java.security.AllPermission;

};
*/

grant codeBase "file:bin/-"{
	permission java.util.PropertyPermission "*", "write";
	permission java.net.SocketPermission "*:45678", "connect";
	permission java.io.FilePermission "-", "read,write"; 	 
};
